<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.singulio.orbitd</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/orbitd</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/orbitd.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/orbitd.error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>RUST_LOG</key>
        <string>info</string>
        <key>ORBIT_CONFIG_DIR</key>
        <string>~/Library/Application Support/orbit</string>
        <key>ORBIT_DATA_DIR</key>
        <string>~/Library/Application Support/orbit</string>
    </dict>

    <key>ProcessType</key>
    <string>Background</string>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>Nice</key>
    <integer>0</integer>
</dict>
</plist>
